<launch>
<node pkg="rosbag" type="play" name="player" output="screen" args="-l $(find lines_vineyard)/video2vineyard.bag"/>
<node pkg='lines_vineyard' type='navigation_node.py' name='navegation_node'/>
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find lines_vineyard)/rviz_config/visor.rviz"/>
</launch>