<?xml version="1.0" encoding="UTF-8"?> 

<!-- file launches a complete simulation of the two_wheels_description robot in a gazebo world with walls --> 

<!-- use it with: roslaunch two_wheels_description walls_world.launch--> 

<launch> 

     

 <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched --> 

  <include file="$(find cpr_agriculture_gazebo)/launch/agriculture_world.launch"> 

    <arg name="world_name" value="$(find lines_vineyard)/world/test_world.world"/>  

    <arg name="paused" value="false"/> 

    <arg name="use_sim_time" value="true"/> 

    <arg name="gui" value="true"/> 

    <arg name="recording" value="false"/> 

    <arg name="debug" value="false"/> 

  </include>

</launch> 
